# Домашнее задание 1

1. Загрузить, посмотреть, определить количество строк и объединить 3 датасета: marketing_campaign.csv, users.csv и subscribers.csv.

In [1]:
import numpy as np
import pandas as pd

Загрузим все наши датасеты

In [2]:
df_mc = pd.read_csv('marketing_campaign.csv')
df_sub = pd.read_csv('subscribers.csv')
df_us = pd.read_csv('users.csv')

Посмотрим на наши данные

In [7]:
print('Строк в датасете - ', df_mc.shape[0])
print('Столбцов в датасете - ', df_mc.shape[1])
print('Пропущенных значений:')
df_mc.isna().sum()

Строк в датасете -  10037
Столбцов в датасете -  6
Пропущенных значений:

user_id                0
date_served           16
marketing_channel     15
variant                0
language_displayed     0
converted             15
dtype: int64

In [8]:
print('Строк в датасете - ', df_sub.shape[0])
print('Столбцов в датасете - ', df_sub.shape[1])
print('Пропущенных значений:')
df_sub.isna().sum()

Строк в датасете -  10037
Столбцов в датасете -  5
Пропущенных значений:

user_id                   0
subscribing_channel    8181
date_subscribed        8181
date_canceled          9460
is_retained            8181
dtype: int64

In [10]:
print('Строк в датасете - ', df_us.shape[0])
print('Столбцов в датасете - ', df_us.shape[1])
print('Пропущенных значений:')
df_us.isna().sum()

Строк в датасете -  10037
Столбцов в датасете -  3
Пропущенных значений:

user_id               0
age_group             0
language_preferred    0
dtype: int64

Объединим наши датасеты:

In [11]:
df = pd.merge(df_mc, df_sub, on='user_id', how='left')

In [12]:
df = df.merge(df_us, on='user_id', how='left')

In [13]:
df.head(1)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,subscribing_channel,date_subscribed,date_canceled,is_retained,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,House Ads,1/1/18,NaN,True,0-18 years,English

### 2. Определить типы и статистики колонок

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   subscribing_channel  1856 non-null   object
 7   date_subscribed      1856 non-null   object
 8   date_canceled        577 non-null    object
 9   is_retained          1856 non-null   object
 10  age_group            10037 non-null  object
 11  language_preferred   10037 non-null  object
dtypes: object(12)
memory usage: 1019.4+ KB

Все типы данных object

### 3. Определить эффективность маркетинговых каналов по привлечению платящих игроков

In [24]:
df.groupby(['marketing_channel', 'converted']).sum()['is_retained'].unstack()

converted          False  True
marketing_channel
Email                 26   123
Facebook              94   166
House Ads            329   173
Instagram             80   181
Push                  49    58

В основном маркетинговая компания прошла успешно

### 4. Определить количество игроков в каждой возрастной группе

In [25]:
df['age_group'].value_counts()

19-24 years    1682
24-30 years    1568
0-18 years     1539
30-36 years    1355
36-45 years    1353
45-55 years    1353
55+ years      1187
Name: age_group, dtype: int64

### 5. Определить самую раннюю дату подписки на сервис

In [27]:
df['date_subscribed'].sort_values()

0       1/1/18
1037    1/1/18
416     1/1/18
354     1/1/18
887     1/1/18
         ...
9991       NaN
9992       NaN
9993       NaN
9994       NaN
9995       NaN
Name: date_subscribed, Length: 10037, dtype: object

In [29]:
print('Самая ранняя подписка на сервис - ', df['date_subscribed'][0])

Самая ранняя подписка на сервис -  1/1/18

### 6. Определить портрет аудитории удержанных подписчиков (по возрасту и языку)

In [31]:
df.groupby(['language_preferred', 'age_group']).sum()['is_retained'].unstack()

age_group,0-18 years,19-24 years,24-30 years,30-36 years,36-45 years,45-55 years,55+ years
language_preferred,,,,,,,
Arabic,3,1,3,0,1,2,2
English,210,304,250,114,107,108,86
German,10,11,15,1,2,3,2
Spanish,6,10,5,7,5,6,5